body {
	margin: 0;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 87.5%;
}

a, a:visited {
	text-decoration: none;
	color: #039;
}

.ui-widget {
	font-size: 100%;
}

#options {
	position: absolute;
	left: 0;
	top: 0;
	width: 10.3em;
	margin: 0.7em;
}

#calendar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 11em;
	right: 0;
	height: auto;
	margin: 0.7em;
}

.fc-header-title h2 {
	margin-bottom: 0;
}

.fc-header .fc-button {
	margin-bottom: 0.7em;
}

.fc-header-space {
	padding-left: 0.7em;
}

.fc-content {
	padding-bottom: 0.7em;
}

/* vim: set sw=4 ts=4 noet fdm=marker fmr={{{,}}} */

