body {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

a, a:visited {
	text-decoration: none;
	color: #039;
}

.ui-widget {
	font-size: 100%;
}

#options {
	position: absolute;
	left: 0;
	top: 0;
	width: 130px;
	margin: 10px;
}

#calendar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 140px;
	right: 0;
	height: auto;
	margin: 10px;
}

/* vim: set sw=4 ts=4 noet fdm=marker fmr={{{,}}} */

