.fc-event {
	font-size: 1em;
}

.fc-event-vert .fc-event-time {
	font-size: 1em;
}

.event-body {
	/*font-size: 85%;*/
}

.event-body table {
	border-collapse: collapse;
}

.event-participation .fc-event-time {
	color: #FF0;
	font-weight: bold;
}

.highlight-text {
	color: #FF0;
}

.highlight-border {
	border: 1px solid #FF0;
}

/* vim: set sw=4 ts=4 noet fdm=marker fmr={{{,}}} */

