.cal-source-menu {
	padding: 0.2em;
	overflow: auto;
}

.cal-source-menu ul {
	margin: 0;
	padding-left: 1.8em;
	list-style-type: disc;
}

.cal-source-menu li {
	padding: 0.2em 0;
}

.cal-source-menu .hidden-toggle {
	display: block;
}

.cal-source-menu .hidden-toggle .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
}

