#sources > li > div {
	font-size: 85%;
}

#sources > li > div ul {
	list-style-type: disc;
	padding: 0 5px 0 25px;
}

#sources > li > div li {
	padding: 2px 0px;
}

#sources > li > div .hidden-toggle {
	display: block;
}

#sources > li > div .hidden-toggle .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
}

