#sources > li > div {
	font-size: 85%;
	overflow: auto;
}

#sources > li > div > * {
	padding: 0.2em;
}

#sources > li > div ul {
	list-style-type: disc;
	padding-left: 1.8em;
}

#sources > li > div li {
	padding: 0.2em 0;
}

#sources > li > div .hidden-toggle {
	display: block;
}

#sources > li > div .hidden-toggle .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
}

