body {
	-webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 650px) {
	#options {
		position: static;
		width: auto;
	}

	#calendar {
		position: static;
	}

	.fc-header td {
		display: inline-block;
		width: auto;
		text-align: left;
		white-space: normal;
	}
	/*.fc-header-title {
		display: block;
	}*/

	.fc-header-title h2, .fc-header .fc-button {
		margin-bottom: 0.5em;
	}
}
