
#refresh button {
	display: block;
	float: left;
	width: 25%;
	height: 2em;
	margin: 0 -1px;
	vertical-align: top;
}

#refresh .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.6em;
	line-height: 1.9em;
}

#refresh > div {
	float: right;
	width: 75%;
	height: 1.9em;
	margin: 0 -1px;
	border-color: #D3D3D3; /* from .ui-state-default */
}

#refresh > br {
	clear: both;
}

#sources {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}

#sources > li {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin: 2px 0;
}

#filter-my-events {
	background-color: #333;
}

#sources > li > label {
	display: block;
	padding: 2px 0;
	color: #FFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

