#refresh {
	margin-bottom: 1em;
	overflow: hidden;
}

#refresh button {
	float: left;
	height: 1.9em;
	margin-right: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
}

#refresh .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.6em;
	line-height: 1.9em;
}

#refresh .ui-progressbar {
	height: 1.9em;
	/* .ui-progressbar { overflow: hidden; } */
	border-color: #D3D3D3; /* from .ui-state-default */
}

#sources {
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
}

#sources li.cal-source {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin: 0.2em 0;
	overflow: hidden;
}

#filter-my-events {
	background-color: #333;
}

#sources .cal-source-label {
	display: block;
	padding: 0.2em 0;
	color: #FFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

