#refresh {
	overflow: hidden;
}

#refresh .ui-button {
	float: left;
	height: 1.9em;
	margin-right: 0;
}

#refresh .ui-button-text {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.6em;
	line-height: 1.9em;
}

#refresh .ui-progressbar {
	height: 1.9em;
	/* .ui-progressbar { overflow: hidden; } */
	border-color: #D3D3D3; /* from .ui-state-default */
}

#sources {
	margin: 0.7em 0;
	padding: 0;
	list-style-type: none;
}

#sources li.cal-source {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin: 0.2em 0;
	overflow: hidden;
}

#sources .cal-source-label {
	display: block;
	padding: 0.2em 0;
	color: #FFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sources .cal-source-label * {
	vertical-align: middle;
}

.cal-source-menu {
	padding: 0.2em;
	overflow: auto;
}

.cal-source-menu ul {
	margin: 0;
	padding-left: 1.8em;
	list-style-type: disc;
}

.cal-source-menu li {
	padding: 0.2em 0;
}

